.task-section,
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#task-5 {
    flex-direction: row;
}

.form {
    flex: 1;
}

.car-list {
    flex: 1;
}

section {
    margin-bottom: 3rem;
}

.ordered-car {
    margin-bottom: 3rem;
    border: 1px solid black;
}